/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
h1 {
    color: red;
    font-weight: bold;
    font-style: italic;
    font-family: Dancing Script;
    font-size: 50px;
    
}

li {
    color: red;
    font-family: Dancing Script;
    font-size: 20pt;
}
a {
color: red;
}

body {
     background-image: url("https://media.giphy.com/media/xUPGcMqlkNigA7EloI/giphy.gif");
    -webkit-background-size: center;
    -moz-background-size: cover; 
    -o-background-size: center;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.textbackground span,h1 span,li span,a span {
    background-color: white;
}
    