<h1 class=textbackground><span>Morning Routine </span></h1>
<ul style="list-style-type:none">
    <li> <span><input type="checkbox" name="Routine">
        <a href="show/1"> Wake up </a></span>
    </li>
    <li> <span><input type="checkbox" name="Routine"> <a href="show/2">  Work out </a> </></span></li>
    <li> <span><input type="checkbox" name="Routine"> <a href="show/3">  Brush teeth  </a></></span></li>
    <li> <span><input type="checkbox" name="Routine"> <a href="show/4">  Take shower </a> </></span></li>
    <li> <span><input type="checkbox" name="Routine"> <a href="show/5">  Fix Breakfast </a> </></span></li>
    <li> <span><input type="checkbox" name="Routine"> <a href="show/6">  Track Bus  </a></></span></li>
    <li> <span><input type="checkbox" name="Routine"> <a href="show/7">  Leave  </a></></span></li>
    <li> 
        <div id="new-todo-block">
            <input type="text" placeholder="New To Do" id="new-todo-description"> 
            <input type="submit" name="Submit" value="Done" id="add-new-todo-button">
        </div>
    </li>
</ul>
    