
        <h1 class=textbackground><span>Morning Routine </span></h1>
        
        <ul style="list-style-type:none">

             <li> <span><input type="checkbox" name="Routine">
                 <a href="show.html"> Wake up </a>
                 
             </span></li>


             <li> <span><input type="checkbox" name="Routine"> Work out </></span></li>
             <li> <span><input type="checkbox" name="Routine"> Brush teeth </></span></li>
             <li> <span><input type="checkbox" name="Routine"> Take shower </></span></li>
             <li> <span><input type="checkbox" name="Routine"> Fix Breakfast </></span></li>
             <li> <span><input type="checkbox" name="Routine"> Track Bus </></span></li>
             <li> <span><input type="checkbox" name="Routine"> Leave </></span></li>
            <li> <div id="new-todo-block">
                    
                    <input type="text" placeholder="New To Do" id="new-todo-description"> 
                
                    <input type="submit" name="Submit" value="Done" id="add-new-todo-button">
              </div>
            </li>
            
        </ul>
