

<title>The Ultimate List</title>
<h1 class="textbackground"><span>Morning Routine</span></h1>

<ul style="list-style-type:none" class="nopaddingleft" class="textbackground">
</ul>

<h3>Todo #<%= params[:id] %></h3>

<p class="boldtext"><span><%= @todo_description %></span></p> 
<input type="text" placeholder="Edit ToDo"> 
<input type="submit" name="Submit" value="Done"/>

<br>
<br>

<a href="/todo/index.html"><span>See full list</span></a>
        
        
  